
.imagesAndText {

    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    padding: 2vh;



}
.imagesAndText2 {

    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    padding: 2vh;
}

.imagesAndText3 {

    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    padding: 2vh;
}

#ph1, #ph2,#ph3, #ph4,#ph5, #ph6,#ph7, #ph8 {

    margin: 2vh;
}

#ph4 {
    width: 60vh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
}
.flex-nav {
    width: 100%;
    display:  inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 2rem;
}
.flex-nav-list {
  display: flex;
  gap: 2rem;
}

footer {
  position: absolute;
  bottom: 0px;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: black;
  color: white;
}

.center {
  text-align: center;
}

.line {
  width: 90vw;
  background: white;
  height: 1px;
}

.boldness {
  font-weight: 900;
}

.links-flex{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-nav-list a {
    text-decoration: none;
    color: rgb(2, 108, 189);
    font-size: 1.3rem;
}
header {
    background-color: aquamarine;
    padding: 2rem;
}

span {
    color : brown
}

